.masthead-skeleton-icon {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  margin: 0 8px;
  background-color: hsl(0, 0%, 89%);
}

/*
    <div class="rich-grid-video-skeleton mini-mode ">
      <div class="rich-grid-video-skeleton mini-mode ">
        <div class="video-details">
          <div class="rich-thumbnail"></div>
          <div class="details">
            <div class="rich-video-title "></div>
            <div class="video-meta rich-video-meta"></div>
          </div>
        </div>
      </div>

      <div class="rich-grid-video-skeleton mini-mode ">
        <div class="video-details">
          <div class="rich-thumbnail"></div>
          <div class="details">
            <div class="rich-video-title "></div>
            <div class="video-meta rich-video-meta"></div>
          </div>
        </div>
      </div>

      <div class="rich-grid-video-skeleton mini-mode ">
        <div class="video-details">
          <div class="rich-thumbnail"></div>
          <div class="details">
            <div class="rich-video-title "></div>
            <div class="video-meta rich-video-meta"></div>
          </div>
        </div>
      </div>

      ....
    </div>
*/

.shelf-skeleton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .video-skeleton {
    margin: 0 16px 0 0;
    flex-basis: 320px;
    min-width: 320px;
    max-width: 360px;
    flex-grow: 1;

    @media only screen and (max-width: 1631px) and (min-width: 720px) {
      & {
        flex-basis: 240px;
        min-width: 240px;
        max-width: 320px;
      }
    }

    .video-details {
      display: flex;
      flex-direction: column;

      $background-color: hsl(0, 0%, 89%);

      .rich-thumbnail {
        position: relative;
        width: 100%;
        background-color: $background-color;
      }
      .rich-thumbnail:before {
        display: block;
        content: '';
        width: 100%;
        padding-top: 56.25%; // this will keep the aspect-ratio always 16:9, no matter the width of the parent
        background-color: rgba(0, 0, 0, 0.1);
      }

      .rich-video-title {
        width: 90%;
        height: 20px;
        margin: 10px 0;
        background-color: $background-color;
      }

      .rich-video-meta {
        width: 60%;
        height: 20px;
        margin: 10px 0;
        background-color: $background-color;
      }
    }
  }
}
