* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  color: #fff;
  padding: 6rem 3rem 3rem;

  background: fixed linear-gradient(transparent, #070707 70%),
    fixed
      repeating-linear-gradient(
        #2b2b2b,
        #2b2b2b 1px,
        transparent 1px,
        transparent 40px
      ),
    fixed
      repeating-linear-gradient(
        to right,
        #2b2b2b,
        #2b2b2b 1px,
        transparent 1px,
        transparent 40px
      )
      #070707;
}

h1,
h2 {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-block-end: 3rem;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  list-style: none;
}

a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 5rem;
  aspect-ratio: 1;
  font-size: 2rem;
  color: #636363;
  background-color: #2b2b2b;
  border-radius: 50%;
  transition: color 0.6s 0.3s ease-in-out;
  text-decoration: none;
}

@property --fill {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}

a::before,
a::after {
  position: absolute;
  z-index: -1;
  content: "";
  inset: -5px;
  border-radius: inherit;
  background: conic-gradient(currentColor var(--fill), transparent var(--fill));
  transition: --fill 0.6s 0.3s ease-in-out;
}

a:hover,
a:focus-visible,
a:focus-within {
  color: greenyellow;
  /* Make it transparent as the "outline" automatically appears on focusable elements
  (e.g., buttons, links, inputs) to indicate focus, unless overridden. */
  outline: 1px solid transparent;
}

a:hover,
a:hover::before,
a:hover::after {
  transition-delay: 0s;
}

/* Effect 1 */
a:nth-child(1):hover,
a:nth-child(1):focus-visible,
a:nth-child(1):focus-within {
  --fill: 100%;
}

a:nth-child(1)::after {
  display: none;
}

/* Effect 2 */
a:nth-child(2):hover,
a:nth-child(2):focus-visible,
a:nth-child(2):focus-within {
  --fill: 100%;
}

a:nth-child(2)::before {
  transform: rotateY(180deg);
}

a:nth-child(2)::after {
  display: none;
}

/* Effect 3 */
a:nth-child(3):hover,
a:nth-child(3):focus-visible,
a:nth-child(3):focus-within {
  --fill: 50%;
}

a:nth-child(3)::after {
  transform: rotateY(180deg);
}

/* Effect 4 */
a:nth-child(4):hover,
a:nth-child(4):focus-visible,
a:nth-child(4):focus-within {
  --fill: 50%;
}

a:nth-child(4)::before {
  transform: rotateX(180deg);
}

a:nth-child(4)::after {
  transform: rotate(180deg);
}

/* Effect 5 */
a:nth-child(5):hover,
a:nth-child(5):focus-visible,
a:nth-child(5):focus-within {
  --fill: 50%;
}

a:nth-child(5)::after {
  transform: rotate(180deg);
}
